.new-movie h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
.new-movie button{
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  margin-left: 213px;

}
  
  form {
    max-width: 500px;
    width: 300%;
    margin: 0 auto;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .form-control input{
    max-width: flex;
    zoom: 120%;
  }
  
  .form-control label {
    margin-bottom: 0.5rem;
    text-align: center;
    
  }
  
  .button{
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
  }

  /* styles.css */

.btn {
  background-color: #00FFFF;
  color: #5a5a5a;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #7bcdcd;
}

